---
version: '3.3'
services:
  speedflux:
    image: "registry.gitlab.com/marty-oehme/speedtest-to-influxdb2:{{ speedflux_version }}"
    container_name: speedflux
    restart: unless-stopped
    environment:
      - "NAMESPACE={{ speedflux_namespace }}"
      - "INFLUX_DB_ADDRESS={{ speedflux_influxdb_address }}"
      - "INFLUX_DB_ORG={{ speedflux_influxdb_org }}"
      - "INFLUX_DB_TOKEN={{ speedflux_influxdb_admin_token }}"
      - "INFLUX_DB_BUCKET={{ speedflux_influxdb_bucket }}"
      - "INFLUX_DB_VERIFY_SSL={{ speedflux_influxdb_verify_ssl }}"
      - "INFLUX_DB_TAGS={{ speedflux_influxdb_tags }}"
      - "SPEEDTEST_INTERVAL={{ speedflux_speedtest_interval }}"
      - "SPEEDTEST_FAIL_INTERVAL={{ speedflux_speedtest_fail_interval }}"
      - "PING_TARGETS={{ speedflux_ping_targets }}"
      - "SPEEDTEST_DEBUG={{ speedflux_debug }}"