*.lck
*.vmdk
*.nvram
!disablesip.nvram
*.ova
*.vmsd
*.vmxf
*.plist
packer_cache/
**/build/*.vmx

.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform-provider-esxi
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
*.tfplan

.vault-password-file
.esxi_root_password
.cluster_join_command

id_rsa
id_rsa.pub

.cache/

.DS_Store