*.lck
*.vmdk
*.nvram
*.ova
*.vmsd
*.vmx
*.vmxf
*.plist
packer_cache/

.terraform/
terraform-provider-esxi
terraform.tfstate
terraform.tfstate.backup

.vault-password-file

id_rsa
id_rsa.pub

.DS_Store