*.lck
*.vmdk
*.nvram
*.ova
*.vmsd
*.vmxf
*.plist
packer_cache/
build/*.vmx

.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform-provider-esxi
terraform.tfstate
terraform.tfstate.backup

.vault-password-file
.esxi_root_password

id_rsa
id_rsa.pub

.DS_Store