---
version: '3.3'
services:
  cloudflare-ddns:
    image: "oznu/cloudflare-ddns:{{ cloudflare_ddns_version }}"
    container_name: cloudflare-ddns
    restart: unless-stopped
    pull_policy: always
    environment:
      - "API_KEY={{ cloudflare_ddns_api_key }}"
      - "ZONE={{ cloudflare_ddns_zone }}"
      - "SUBDOMAIN={{ cloudflare_ddns_subdomain }}"
      - "PROXIED={{ cloudflare_ddns_proxied }}"
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"