version: "3.5"
services:
  plex:
    image: "plexinc/pms-docker:{{ plex_version }}"
    container_name: plex
    hostname: {{ plex_hostname }}
    restart: always
    ports:
      - {{ plex_port_http }}:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    environment:
      - "TZ={{ plex_timezone }}"
      - "PLEX_CLAIM={{ plex_claim_token }}"
      - "ADVERTISE_IP=http://{{ plex_ip_address }}:{{ plex_port_http }}/"
    volumes:
      - "{{ plex_database_dir }}:/config"
      - "{{ plex_transcode_dir }}:/transcode"
      - "{{ plex_local_nas_mount_path }}:/data"
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"