---
version: '3.3'
services:
{% for instance in prometheus_vmware_exporter_instances %}
  prometheus-vmware-exporter-{{ instance.alias }}:
    image: devinotelecom/prometheus-vmware-exporter:latest
    container_name: prometheus-vmware-exporter-{{ instance.alias }}
    restart: unless-stopped
    ports:
      - {{ instance.export_port }}:9512
    environment:
      - "ESX_HOST={{ instance.host }}"
      - "ESX_USERNAME={{ instance.username }}"
      - "ESX_PASSWORD={{ instance.password }}"
      - "ESX_LOG={{ instance.log_level }}"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{% endfor %}