# config file version
apiVersion: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
  - name: InfluxDB-Flux
    type: influxdb
    url: "http://{{ hostvars['monitoring.vojak.cloud'].ansible_host }}:{{ influxdb_port }}"
    secureJsonData:
      token: "{{ influxdb_admin_token }}"
    jsonData:
      version: Flux
      organization: "{{ influxdb_org }}"
      defaultBucket: "{{ influxdb_bucket }}"
  - name: Prometheus
    type: prometheus
    access: proxy
    url: "http://{{ hostvars['monitoring.vojak.cloud'].ansible_host }}:{{ prometheus_port }}"
    basicAuth: true
    basicAuthUser: {{ prometheus_username }}
    secureJsonData:
      basicAuthPassword: {{ prometheus_password }}
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      prometheusVersion: {{ prometheus_version }}