---
poller:
  debug: {{ unpoller_poller_debug }}
  quiet: {{ unpoller_poller_quiet }}
  plugins: []

prometheus:
  disable:       {{ unpoller_prometheus_disable }}
  http_listen:   {{ unpoller_prometheus_http_listen }}
  ssl_cert_path: {{ unpoller_prometheus_ssl_cert_path }}
  ssl_key_path:  {{ unpoller_prometheus_ssl_key_path }}
  report_errors: {{ unpoller_prometheus_report_errors }}

influxdb:
  disable: {{ unpoller_influxdb_disable }}
  interval: {{ unpoller_influxdb_interval }}
  url:  {{ unpoller_influxdb_url }}
  user: {{ unpoller_influxdb_username }}
  pass: {{ unpoller_influxdb_password }}
  db:   {{ unpoller_influxdb_db }}
  verify_ssl: {{ unpoller_influxdb_verify_ssl }}

webserver:
  enable:        {{ unpoller_webserver_enable }}
  port:          {{ unpoller_webserver_port }}
  html_path:     {{ unpoller_webserver_html_path }}
  ssl_cert_path: {{ unpoller_webserver_ssl_cert_path }}
  ssl_key_path:  {{ unpoller_webserver_ssl_key_path }}
  max_events:    {{ unpoller_webserver_max_events }}
  accounts:
    captain: "$2a$04$mxw6i0LKH6u46oaLK2cq5eCTAAFkfNiRpzNbz.EyvJZZWNa2FzIlS"

unifi:
  dynamic: {{ unpoller_unifi_dynamic }}
  defaults:
    url:  {{ unpoller_unifi_defaults_url }}
    user: {{ unpoller_unifi_defaults_username }}
    pass: {{ unpoller_unifi_defaults_password }}
    sites: {{ unpoller_unifi_defaults_sites }}
    save_ids:    {{ unpoller_unifi_defaults_save_ids }}
    save_events: {{ unpoller_unifi_defaults_save_events }}
    save_alarms: {{ unpoller_unifi_defaults_save_alarms }}
    save_anomalies: {{ unpoller_unifi_defaults_save_anomalies }}
    save_dpi:    {{ unpoller_unifi_defaults_save_dpi }}
    save_sites:  {{ unpoller_unifi_defaults_save_sites }}
    hash_pii:    {{ unpoller_unifi_defaults_hash_pii }}
    verify_ssl:  {{ unpoller_unifi_defaults_verify_ssl }}

  controllers: []