---
version: '3.3'
services:
  traefik:
    image: "traefik:{{ traefik_version }}"
    container_name: traefik
    restart: unless-stopped
    pull_policy: always
    environment:
      - "CF_API_EMAIL={{ traefik_cloudflare_email_address }}"
      - "CF_API_KEY={{ traefik_cloudflare_api_key }}"
    ports:
      - "{{ traefik_port_api }}:8080"
      - "{{ traefik_port_http }}:80"
      - "{{ traefik_port_https }}:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ traefik_dir_letsencrypt }}:/letsencrypt"
      - "{{ traefik_dir_dynamic_config }}:/dynamic_config"
      - "{{ traefik_installation_dir }}/traefik.yml:/etc/traefik/traefik.yml"