http:
  routers:
{% if traefik_dashboard_enabled %}
    dashboard:
      rule: Host(`{{ traefik_dashboard_subdomain }}.{{ traefik_root_domain }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      service: api@internal
      middlewares:
        - auth
{% endif %}
{% for service in traefik_services %}
    {{ service.name }}:
      entrypoints: websecure
      rule: Host(`{{ service.hostname }}`)
      tls:
        certResolver: le
      service: {{ service.name }}@file
{% endfor %}
  middlewares:
    auth:
      basicAuth:
        users:
          - {{ traefik_username }}:{{ traefik_password | string | password_hash('bcrypt', traefik_password_salt) }}
{% if traefik_servers_transports is defined and traefik_servers_transports|length %}
  serversTransports:
{% for servers_transport in traefik_servers_transports %}
    {{ servers_transport.name }}:
      insecureSkipVerify: {{ servers_transport.insecure_skip_verify }}
{% endfor %}
{% endif %}
{% if traefik_services is defined and traefik_services|length %}
  services:
{% for service in traefik_services %}
    {{ service.name }}:
      loadBalancer:
        servers:
          - url: {{ service.url }}
        passHostHeader: true
{% if service.servers_transport is defined %}
        serversTransport: {{ service.servers_transport }}
{% endif %}        
{% endfor %}
{% endif %}