version: "3.5"
services:
  jellyfin:
    image: "jellyfin/jellyfin:{{ jellyfin_version }}"
    container_name: jellyfin
    # network_mode: "host"
    ports:
      - 8096:8096/tcp
    volumes:
      - "{{ jellyfin_config_dir }}:/config"
      - "{{ jellyfin_cache_dir }}:/cache"
      - "{{ jellyfin_local_nas_mount_path }}:/media"
    restart: "always"
    # Optional - alternative address used for autodiscovery
    # environment:
    #  - JELLYFIN_PublishedServerUrl=http://example.com