INSTALL_WEB_INTERFACE=true
WEBPASSWORD={{ pihole_api_key }}
TEMPERATUREUNIT={{ pihole_temp_unit | upper }}
{% for ip_addr in pihole_upstream_dns %}
PIHOLE_DNS_{{ loop.index }}={{ ip_addr }}
{% endfor %}
PIHOLE_INTERFACE=eth0
DNSMASQ_LISTENING=all
QUERY_LOGGING=true
DNS_FQDN_REQUIRED=true
DNSSEC=false
BLOCKING_ENABLED=true