---
version: '3.3'
services:
  mail:
    image: bytemark/smtp:{{ plausible_smtp_version }}
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"

  plausible_db:
    image: postgres:{{ plausible_postgres_vesion }}
    restart: always
    volumes:
      - {{ plausible_postgres_data_dir }}:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"

  plausible_events_db:
    image: clickhouse/clickhouse-server:{{ plausible_clickhouse_version }}
    restart: always
    volumes:
      - {{ plausible_clickhouse_event_dir }}:/var/lib/clickhouse
      - {{ plausible_clickhouse_dir }}/clickhouse-config.xml:/etc/clickhouse-server/config.d/logging.xml:ro
      - {{ plausible_clickhouse_dir }}/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"

  plausible:
    image: plausible/analytics:{{ plausible_version }}
    restart: always
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh db init-admin && /entrypoint.sh run"
    depends_on:
      - plausible_db
      - plausible_events_db
      - mail
    ports:
      - {{ plausible_port_http }}:8000
    environment:
      - "ADMIN_USER_EMAIL={{ plausible_admin_email }}"
      - "ADMIN_USER_NAME={{ plausible_admin_username }}"
      - "ADMIN_USER_PWD={{ plausible_admin_password }}"
      - "BASE_URL={{ plausible_base_url }}"
      - "SECRET_KEY_BASE={{ plausible_secret_key_base }}"
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"