---
version: '3.3'
services:
  portainer:
    image: "portainer/portainer-ce:{{ portainer_version }}"
    container_name: portainer
    restart: always
    command:
      - "--admin-password='{{ portainer_password | string | password_hash('bcrypt', portainer_password_salt) | replace('$', '$$') }}'"
    ports:
      - "{{ portainer_port_http }}:9000"
      - "{{ portainer_port_https }}:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ portainer_data_dir }}:/data"