---
version: '3.3'
services:
  portainer:
    image: "portainer/portainer-ce:{{ portainer_version }}"
    container_name: portainer
    restart: always
    ports:
      - "{{ portainer_port_https }}:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ portainer_data_dir }}:/data"