---
version: '3.3'
services:
  speedtest:
    image: loganmarchione/docker-speedtest-influxdbv2:{{ speedtest_version }}
    container_name: speedtest
    restart: unless-stopped
    network_mode: host
    environment:
      - "INFLUXDB_SCHEME={{ speedtest_influxdb_scheme }}"
      - "INFLUXDB_HOST={{ speedtest_influxdb_host }}"
      - "INFLUXDB_PORT={{ speedtest_influxdb_port }}"
      - "INFLUXDB_TOKEN={{ speedtest_influxdb_admin_token }}"
      - "INFLUXDB_ORG={{ speedtest_influxdb_org }}"
      - "INFLUXDB_DB={{ speedtest_influxdb_database }}"
      - "SLEEPY_TIME={{ speedtest_interval }}"
      - "SPEEDTEST_HOST={{ speedtest_host }}"
      - "SPEEDTEST_SERVER={{ speedtest_server }}"